.needle {
	display: none;
	position: absolute;
	left: calc(50% - 63px);
	top: 55%;
	width: 126px;
	height: 18px;
	background: url(../img/needle.png);
    background-size: 100%;
    transition: .3s ease-in-out;
}

.value {
	display: none;
	position: absolute;
	left: calc(50% - 150px);
	top: 60%;
	width: 300px;
	height: 100px;
	text-align: center;
	font-size: 60px;
}

.floating-value {
	position: absolute;
	right: 20px;
	top: 20px;
}

.no-device-selected {
    text-align: center;
    position: absolute;
    top: calc(50% + 20px);
    left: calc(50% - 120px);
    width: 240px;
}
@media (max-width: 767.98px) {
  .card-title {
    text-align: left;
  }
}
