.weak {
    position: relative;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #dc3545;
}
.not-strong {
	position: relative;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #c48828;
}
.strong {
    position: relative;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #28a745;
}
