<!doctype html>
<html>
<body>
<div style="width: 100%;
	padding: 40px 0px;">
<div style="margin: auto;
	width: 500px;
	height: 340px;
	text-align: center;
	padding: 20px;
	font-family: Arial;
	background-color: #f8f9fa;">
<p>
<img alt="page_title" src="host/resources/img/logo_wide_black.png" />
</p>
<p>
email_new_account_message
</p>
<p style="font-size: 24px;">
random_pass
</p>
<a href="host" style="text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-appearance: button;">
email_new_account_button
</a>
</div>
</div>
</body>
</html>